{% extends 'base.html.twig' %}
{% block pageTitle %}new student form{% endblock %}


{% block stylesheets %}
    <style>
    .border1 {
        border: black solid 1px;
        padding: 5px;
        margin: 10px;
        background-color: lightblue;
    }
    </style>
{% endblock %}


{% block body %}
    <h1>Create new student</h1>
    {{ form_start(form) }}

    <div class="form-group border1">
        <div class="errors">
            {{ form_errors(form.firstName) }}
        </div>

        {{ form_label(form.firstName) }}

        {{ form_widget(form.firstName) }}
    </div>

    <div class="form-group border1">
        <div class="errors">
            {{ form_errors(form.surname) }}
        </div>

        {{ form_label(form.surname) }}

        {{ form_widget(form.surname) }}
    </div>

    <div class="form-group border1">
        {{ form_row(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock %}

