{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}

    {{ form_start(form) }}

    {{ form_row(form.name) }}

<div>
    Products for this Category:
    <ul>
        {% for product in form.vars.value.products %}
            <li>
                <a href="{{ url('app_product_show', {'id':product.id}) }}">
                    {{ product.id }} :: {{ product.description }}
                </a>
            </li>
        {% else %}
            <li>
                (no products for this category)
            </li>
        {% endfor %}
    </ul>
</div>

<button class="btn">{{ button_label|default('Save') }}</button>

<!--
        {{ form_widget(form.products) }}
    -->

{{ form_end(form) }}