{% extends 'base.html.twig' %}

{% block title %}Make index{% endblock %}

{% block body %}
    <h1>Make index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for make in makes %}
            <tr>
                <td>{{ make.id }}</td>
                <td>{{ make.name }}</td>
                <td>
                    <a href="{{ path('make_show', {'id': make.id}) }}">show</a>
                    <a href="{{ path('make_edit', {'id': make.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('make_new') }}">Create new</a>
{% endblock %}
